@import "../../../assets/styles/variables.scss";

.header {
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: 1px solid $border;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  & .logo img {
    height: 6rem;
  }
  & .navbar {
    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      right: -100%;
      background: $white;
      width: 30rem;
      height: calc(100vh - 9.5rem);
      &.active {
        right: 0;
      }
    }
    a {
      margin: 0 1rem;
      font-size: 1.6rem;
      color: $white;
      &:hover {
        color: $main-color;
        border-bottom: 0.1rem solid $main-color;
        padding-bottom: 0.5rem;
      }
      @media (max-width: 768px) {
        color: $black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
      }
    }
  }
  & .icons {
    display: flex;
    aside {
      color: $white;
      cursor: pointer;
      font-size: 2.5rem;
      margin-left: 2rem;
      &:hover {
        color: $main-color;
      }
    }
  }
  #menu-btn {
    display: none;
    @media (max-width: 768px) {
      display: inline-block;
    }
  }
  /* style to display the search section */
  & .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: $white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    @media (max-width: 768px) {
      width: 90%;
      right: 2rem;
    }
    /* property to show the search form by clicking the btn */
    &.active {
      transform: scaleY(1);
    }
    input {
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      color: $black;
      padding: 1rem;
      text-transform: none;
    }
    label {
      cursor: pointer;
      font-size: 2.2rem;
      margin-right: 1.5rem;
      color: $black;
      &:hover {
        color: $main-color;
      }
    }
  }
  /* this is the style to display the section cart */
  & .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: $white;
    padding: 0 1.5rem;
    & .cart-item {
      position: relative;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
  /* property to show the container when clicked the btn */
  & .cart-items-container.active {
    right: 0;
  }
}
