@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.about {
  & .row {
    @include flex-center;
    background: $black;
    flex-wrap: wrap;
    & .image {
      @include flex-standard;
      img {
        width: 100%;
      }
    }
    & .content {
      @include flex-standard;
      padding: 2rem;
      h2 {
        font-size: 3rem;
        color: $white;
      }
      p {
        font-size: 1.6rem;
        color: $gray;
        padding: 1rem 0;
        line-height: 1.8;
      }
    }
  }
}
