@import "../../../assets/styles/variables.scss";

.footer {
  background: $black;
  text-align: center;
  & .share {
    padding: 1rem 0;
    a {
      display: inline-block;
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      color: $white;
      border: $border;
      margin: 0.3rem;
      border-radius: 50%;
      &:hover {
        background: $main-color;
      }
    }
  }
  & .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    a {
      padding: 0.7rem 2rem;
      color: $white;
      border: $border;
      font-size: 2rem;
      &:hover {
        background-color: $main-color;
      }
    }
  }
  & .credit {
    font-size: 2rem;
    color: $white;
    font-weight: lighter;
    span {
      color: $main-color;
    }
  }
}
