@import "./mixins.scss";
@import "./variables.scss";

* {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2 linear;
}
